/* src/components/Card/Card.css */
.card {
    background0imag-:url('./assests/copybg.jpg');
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .card:hover {
    background: #f5f5f5;
    transform: scale(1.02);
  }
  
  .card-content {
    display: flex;
    justify-content: space-between; /* Space between text and icon */
    align-items: center; /* Align items vertically centered */
    width: 170px;
    margin-bottom: 5px;
  }
  
  .icon {
    margin-left: 12px; /* Space between text and icon */
  }
  