/* src/pages/Home/Home.css */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 16px; /* Space between cards */
}
