@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

.Home {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: white;
  background-size: cover;
 height: auto; /* Full height for scrolling */
 margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align the content at the top */
  overflow-y: auto; /* Enable scrolling for overflow */
}

.hero-section {
  width: 100%; /* Ensure it takes full width */
  height: 250px;
  text-align: center;
}

.dark-mode{
  background-color: #212020;
  color:white
}
.hero-section h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-top: 20px;
  font-size: 2rem;
  color: black;
  margin-bottom: 0.5rem;
}

.hero-section p {
  font-size: 1.25rem;
  color: #ddd;
}

.content {
  text-align: center;
}

.ame-number {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn-new-entry,
.btn-past-records {
  background-color: #005b96;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-new-entry:hover,
.btn-past-records:hover {
  background-color: #003f73;
}

.aircrew-image {
  width: 100%; /* Make the image responsive */
  height: auto;
  display: block;
  margin: 0 auto;
}

.Container {
  display: flex;
  flex-direction: column;
  margin-top: 290px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  margin-left: 0; /* Adjust this to center if needed */
  height: 100px; /* Make sure it takes full available height */
  width: 100%; /* Ensure it stretches to full width */
}

.Container h1 {
  color: black;
  font-size: 22px;
  font-weight: bolder;
  
}
.Container p{
  color: black;

}

.dark-mode p{
  background-color: #212020;
  color:white
}
#212020
 h1 {
  color: black;

}
