/* .Home {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    /* background: url('assests/home.svg') no-repeat center center fixed; */
    /* background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
   */
  .hero-section {
    
    background-color:rgb(118, 187, 118);
    width: auto;
    height: 250px;
    text-align: center;
   
  }
  
  .hero-section h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  
  .hero-section p {
    font-size: 1.25rem;
    color: #ddd;
  }
  
  .content {
    text-align: center;
  }
  
  .ame-number {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .btn-new-entry, .btn-past-records {
    background-color: #005B96;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-new-entry:hover, .btn-past-records:hover {
    background-color: #003f73;
  }
  