/* Form.css */

.cards {
    display: flex;
    justify-content: center;
    
    /* Make sure this is set */
    /* Horizontally center the form */
    
    align-items: center; /* Vertically center the form */
    min-height: 7vh;
    margin: 0px; /* Ensure it takes up the full viewport height */
    flex-direction: column; /* Stack the form vertically */
    background-color: #ffffff; /* Optional: background color for the container */
    /* border-radius: 8px; Optional: rounded corners for the container */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Optional: subtle shadow for the container */
}

.form{
    display: flex;
    justify-content: center;
    
    /* Make sure this is set */
    /* Horizontally center the form */
    
    align-items: center; /* Vertically center the form */
    min-height: 50vh;
    margin-top: 20px; /* Ensure it takes up the full viewport height */
    flex-direction: column; /* Stack the form vertically */
   /* Optional: background color for the container */
}

.p-field {
    margin-bottom: 30px; /* Space between fields */
}
