


.babes {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-top:10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-container {
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    padding: 20px;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    position:relative;
    margin-left: 110px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  h1 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  p {
    color: #888;
    font-size: 0.9em;
  }
  
  .edit-button {
    background-color: #d1cdcd;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width:100%;
    font-weight: bold;
  }
  
  .edit-button:hover {
    background-color: #e0e0e0;
  }
  
  .profile-options {
    /* border-top: 3px solid #ddd; */
    padding-top: 10px;
  }
  
  .profile-option {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
    /* border-bottom: 1px solid #ddd; */
  }
  
  .profile-option:last-child {
    border-bottom: none;
  }
  
  .profile-option:hover {
    background-color: #f9f9f9;
  }
  