body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: url('./assests/home.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  